.learn-more {
  padding: 10px 5%;
  text-align: center;
}

.learn-more h2 {
  font-size: 36px;
  font-weight: 700;
  color: #0d47a1;
  margin-bottom: 50px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  max-width: 1200px;
  margin: 0 auto;
}

.company-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  border-radius: 16px;
  min-height: 320px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.company-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.15);
}

.card-icon {
  font-size: 70px;
  color: #1565c0; 
  background-color: #e3f2fd; 
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card-title {
  color: #0d47a1;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

mat-card-content p {
  font-size: 16px;
  color: #444;
  margin-top: 8px;
}


@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
