.contact-container {
  max-width: 450px;
  margin: 60px auto;
  background: #fff;
  padding: 28px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}

.info-box p {
  font-size: 18px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

mat-icon {
  font-size: 22px;
}
